<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.ifgi.car.io"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Cario" >

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name="de.ifgi.car.io.ui.CheckListActivity"
            android:label="@string/activity_checklist_title"
            android:parentActivityName="MyData" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ifgi.car.io.ui.MyData" />
        </activity>
        <activity
            android:name="de.ifgi.car.io.ui.MyData"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.ifgi.car.io.ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.ifgi.car.io.ui.MyData" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ifgi.car.io.ui.MyData" />
        </activity>
        <activity
            android:name="de.ifgi.car.io.ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="de.ifgi.car.io.ui.MyData"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.ifgi.car.iomockup.MyData" />
        </activity>
    </application>

</manifest>