<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="car.io"
    android:versionCode="3"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <application
        android:allowBackup="true"
        android:name="car.io.application.ECApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Cario" >

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name="car.io.activity.CheckListActivity"
            android:label="@string/activity_checklist_title"
            android:parentActivityName="car.io.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="car.io.activity.MainActivity" />
        </activity>
        <activity
            android:name="car.io.activity.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="car.io.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="car.io.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="car.io.activity.MainActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="car.io.activity.MainActivity" />
        </activity>
        <activity
            android:name="car.io.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="car.io.activity.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="car.io.activity.MainActivity" />
        </activity>
        <activity
            android:name="car.io.activity.MyGarage"
            android:label="@string/menu_garage"
            android:parentActivityName="car.io.activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="car.io.activity.MainActivity" />
        </activity>        

        <service
            android:name="car.io.obd.BackgroundService"
            android:exported="false" />

        <activity
            android:name="car.io.activity.Map"
            android:label="@string/title_activity_map"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>