name: Android CI

on:
  push:
    branches:
      - feature/release-actions

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      ORG_GRADLE_PROJECT_MAPBOX_DOWNLOADS_TOKEN: ${{ secrets.MAPBOX_DOWNLOADS_TOKEN }}

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'adopt'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew assembleDebug
      
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v2.2.4-SNAPSHOT
