<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.envirocar.app"
    android:versionCode="11"
    android:versionName="2be0d5c13c76fc21f360781966f8142e39543add">

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <application
        android:allowBackup="true"
        android:name="org.envirocar.app.application.ECApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Cario" >

        <activity
            android:name="org.envirocar.app.activity.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="org.envirocar.app.activity.MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.envirocar.app.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="org.envirocar.app.activity.MainActivity" android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.envirocar.app.activity.MainActivity" />
        </activity>       

        <service
            android:name="org.envirocar.app.application.BackgroundService"
            android:exported="false" />

        <activity
            android:name="org.envirocar.app.activity.Map"
            android:label="@string/title_activity_map"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

</manifest>